.comment {
  margin-bottom: $space;

  .hide {
    display: none !important;
  }

  .comment-meta {
    color: #7E8496;
    font-size: 0.875em;
    margin-bottom: $half-space;

    span {
      margin-right: 0.5em;
    }
  }

  .comment-body {
    margin-bottom: $half-space;
    white-space: pre-wrap;



    .edit-comment-form {
      display: none;

      &.active {
        display: block;
      }

      textarea {
        min-height: 20px;
      }
    }
  }

  .comment-actions {
    @include full-box(flex);
    align-items: center;
    font-size: 0.875em;

    .comment-vote-container {
      @include better-box(flex);
      align-items: center;
      color: #7E8496;
      margin-right: $space;

      .comment-voter-arrows {
        margin-right: 1em;
        cursor: pointer;

        .comment-voter {
          border-radius: 4px;

          &.up {
            width: 0;
            height: 0;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-bottom: 8px solid #7E8496;
            margin-bottom: 0.5em;
          }

          &.down {
            width: 0;
            height: 0;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-top: 8px solid #7E8496;
          }
        }
      } // End .comment-voter-arrows
    } // End .comment-vote-container

    .comment-edit-delete{
      display: flex;
      a {
        color: #7E8496;
        cursor: pointer;
        display: block;
        margin-right: $micro-space;

        &:last-of-type {
          color: $brand;
        }
      }
    }
  }
} // End .comment