.nav {
  background: $brand;
  padding: $space 0;

  .nav-logo {
    color: $background;
    margin: 0 auto;
    text-align: center;

    a {
      color: $background;
    }
  } // End .nav-logo
} // End .nav