.post-list-container {
  .category-heading {
    font-size: 1.2em;
    margin-bottom: 0;

    span {
      color: #9a9a9a;
      font-family: $font;
      font-weight: 400;
    }
  }

  .post-list-header {
    @include full-box(flex);
    align-items: center;
    margin-bottom: $half-space;

    .post-list-header-heading {
      margin: 0;
      font-size: 1.375em;
      color: $type;
      font-weight: bold;
    }

    .dropdown-container {
      @include better-box(flex);
      align-items: center;
      margin-left: auto;

      .dropdown-label {
        font-size: 0.882352941em;
        min-width: 5em;
        text-align: right;
      }

      .dropdown-button {
        margin-bottom: 0;
        margin-left: 1em;
      }
    }
  } // End .post-list-header
} // End .post-list-container