.post-view {
  .wrap {
    max-width: 44em;

    .post {
      margin-bottom: $space;
    }

    .post-comments {
      margin-top: $half-space;
      padding-top: $space;
      border-top: 1px solid $border-color;
    } // End .post-comments
  } // End .wrap
} // End .post-view